div{
    width: 120px;
    height: 395px;
    background-color: rgb(24, 25, 23);
    border-top: 100px;
    border-left: 200px;
    

}
#inner{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 60px;
    border-left:10px;
    border-top: 10px;
    border-bottom: 10px;
    border-right: 10px;
    border-style: double;
    
}
#inner2{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255,0);
    border-radius: 60px;
    border-left:10px;
    border-top: 10px;
    border-bottom: 10px;
    border-right: 10px;
    border-style: double;
}
#inner3{
    width: 100px;
    height: 100px;
    background-color: #00ff00;
    border-radius: 60px;
    border-left:10px;
    border-top: 10px;
    border-bottom: 10px;
    border-right: 10px;
    border-style: double;
    
}