/*div{
    height: 100px;
    width: 100px;
    background-color: black;
}

@media(width : 500px)
{
    div{
        background-color: gray;
    }
    
}

@media(max-width : 800px){
    div{
        background-color: rgb(4, 0, 255);
    }
}

@media(min-width : 400px) and (max-width : 600px){
    div{
        background-color: rgb(6, 251, 251);
    }
}*/

div{
    height: 100px;
    width: 100px;
    
}

@media(min-width :600px){
    div{
        background-color: darkblue;
    }
}

@media(max-width : 300px){
    div{
    background-color: chartreuse;
    }
}

@media(min-width :300px) and (max-width :400px){
    div{
        background-color: pink;
    }
}

@media(min-width :400px) and (max-width:600px){
    div{
        background-color: red;
    }
}
