
div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0, 255, 0, 0.10);
}
#box1{
    background-color: rgba(0, 255, 0, 0.40);
}
#box2{
    background-color: rgba(0, 255, 0, 0.60);
}
#box3{
    background-color: rgba(0, 255, 0, 1);
}
