*{
    padding:0px;
    margin: 0px;
    color: aliceblue;
}
#navbar{
    height: 60px;
    background-color: #000000;
}
#login{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
}
input{
    color: #000000;
}
a{
    margin-right: 200px;
}


